<body>
  <img src="./assets/nicosia/nicosia-fach.jpg" class="" />
  <div class="texto-container">
    
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt
      et risus sit amet convallis. Aenean venenatis vestibulum velit id pretium.
      Proin tellus nulla, sodales a tempor id, vulputate eleifend risus. Aliquam
      cursus dui at magna lacinia, in consectetur dui lobortis. In at metus
      volutpat erat condimentum pellentesque vitae malesuada dolor. Sed lobortis
      purus at orci venenatis pellentesque.
    </p>
  
  </div>
  <div class="title-container">
    <h1 class="title">Últimos proyectos</h1>
  </div>

  <div class="card-container">
    <div class="card2">
      <div class="hovereffect">
        <img class="img-responsive" src="./assets/nicosia/cam1.jpg" alt="" />
        <div class="overlay">
          <h2>Residencial Nicosia</h2>
          <a class="info" routerLink="/nicosia/nicosia">Proyecto</a>
        </div>
      </div>
    </div>
    <div class="card2">
      <div class="hovereffect">
        <img class="img-responsive" src="./assets/nicosia/cam1.jpg" alt="" />
        <div class="overlay">
          <h2>Residencial Nicosia</h2>
          <a class="info" href="#">Proyecto</a>
        </div>
      </div>
    </div>
    <div class="card2">
      <div class="hovereffect">
        <img class="img-responsive" src="./assets/nicosia/cam1.jpg" alt="" />
        <div class="overlay">
          <h2>Residencial Nicosia</h2>
          <a class="info" href="#">Proyecto</a>
        </div>
      </div>
    </div>
    <div class="card2">
      <div class="hovereffect">
        <img class="img-responsive" src="./assets/nicosia/cam1.jpg" alt="" />
        <div class="overlay">
          <h2>Residencial Nicosia</h2>
          <a class="info" href="#">Proyecto</a>
        </div>
      </div>
    </div>
  </div>
</body>
