<header class="header-container">
  <div class="logo-container">
    <img src="./assets/logo-b.png" routerLink="" alt="Logo " class="logo" />
  </div>
  <div class="menu-container">
    <div class="dropdown">
      <h2 class="drop-button" id="underline">Proyectos</h2>
      <div class="dropdown-content">
        <a routerLink="body/privada-proyecto/privada-proyecto.component"
          >Residencial privada</a
        >
        <a routerLink="body/publico-proyecto/publico-proyecto.component"
          >Residencial público</a
        >

        <a routerLink="body/unifamiliar-proyecto/unifamiliar-proyecto.component"
          >Viviendas unifamiliares</a
        >
        <a routerLink="body/singulares/singulares.component"
          >Edificios singulares</a
        >
      </div>
    </div>

    <h2 routerLink="body/estudio/estudio.component" id="underline">Estudio</h2>
    <h2 id="underline">Contacto</h2>
  </div>
</header>
