.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #262626;
  height: 132px;
  margin-top: 16%;
  border-top: 8px solid #454545;
}

.footer-container h3 {
  text-align: center;
  color: #e7e6e7;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
