<h2>Residencial público</h2>

<!-- <body class="main-container">
  <div class="title-container">
    <h1 class="title">Residencial público</h1>
    <div class="line"></div>
  </div>

  <div class="card-container">
    <a class="card">
      <img src="./assets/nicosia/cam1.jpg" class="imagen" />
      <p>Viviendas Nicosia, Madrid</p>
    </a>
    <div class="card">
      <img src="./assets/nicosia/cam1.jpg" />
      <p>Viviendas Nicosia, Madrid</p>
    </div>
    <div class="card">
      <img src="./assets/nicosia/cam1.jpg" />
      <p>Viviendas Nicosia, Madrid</p>
    </div>
    <div class="card">
      <img src="./assets/nicosia/cam1.jpg" />
      <p>Viviendas Nicosia, Madrid</p>
    </div>
    <div class="card">
      <img src="./assets/nicosia/cam1.jpg" />
      <p>Viviendas Nicosia, Madrid</p>
    </div>
    <div class="card">
      <img src="./assets/nicosia/cam1.jpg" />
      <p>Viviendas Nicosia, Madrid</p>
    </div>
    <div class="card">
      <img src="./assets/nicosia/cam1.jpg" />
      <p>Viviendas Nicosia, Madrid</p>
    </div>
    <div class="card">
      <img src="./assets/nicosia/cam1.jpg" />
      <p>Viviendas Nicosia, Madrid</p>
    </div>
    <div class="card">
      <img src="./assets/nicosia/cam1.jpg" />
      <p>Viviendas Nicosia, Madrid</p>
    </div>
  </div>
  

  <div class="return">
    <img src="./assets/flecha-izquierda.png" />
    <a routerLink="">Inicio</a>
  </div>
</body> -->
