<body class="main-container">
  <div class="title-container">
    <h1 class="title">Residencial privada</h1>
    <div class="line"></div>
  </div>

  <div class="card-container">
    <div class="card2">
      <div class="hovereffect">
        <img class="img-responsive" src="./assets/nicosia/cam1.jpg" alt="" />
        <div class="overlay">
          <h2>Residencial Nicosia</h2>
          <a class="info" routerLink="/nicosia/nicosia">Proyecto</a>
        </div>
      </div>
    </div>
    <div class="card2">
      <div class="hovereffect">
        <img class="img-responsive" src="./assets/nicosia/cam1.jpg" alt="" />
        <div class="overlay">
          <h2>Residencial Nicosia</h2>
          <a class="info" routerLink="/nicosia/nicosia">Proyecto</a>
        </div>
      </div>
    </div>
    <div class="card2">
      <div class="hovereffect">
        <img class="img-responsive" src="./assets/nicosia/cam1.jpg" alt="" />
        <div class="overlay">
          <h2>Residencial Nicosia</h2>
          <a class="info" routerLink="/nicosia/nicosia">Proyecto</a>
        </div>
      </div>
    </div>
    <div class="card2">
      <div class="hovereffect">
        <img class="img-responsive" src="./assets/nicosia/cam1.jpg" alt="" />
        <div class="overlay">
          <h2>Residencial Nicosia</h2>
          <a class="info" href="#">Proyecto</a>
        </div>
      </div>
    </div>
    <div class="card2">
      <div class="hovereffect">
        <img class="img-responsive" src="./assets/nicosia/cam1.jpg" alt="" />
        <div class="overlay">
          <h2>Residencial Nicosia</h2>
          <a class="info" href="#">Proyecto</a>
        </div>
      </div>
    </div>
    <div class="card2">
      <div class="hovereffect">
        <img class="img-responsive" src="./assets/nicosia/cam1.jpg" alt="" />
        <div class="overlay">
          <h2>Residencial Nicosia</h2>
          <a class="info" href="#">Proyecto</a>
        </div>
      </div>
    </div>
    <div class="card2">
      <div class="hovereffect">
        <img class="img-responsive" src="./assets/nicosia/cam1.jpg" alt="" />
        <div class="overlay">
          <h2>Residencial Nicosia</h2>
          <a class="info" href="#">Proyecto</a>
        </div>
      </div>
    </div>
    <div class="card2">
      <div class="hovereffect">
        <img class="img-responsive" src="./assets/nicosia/cam1.jpg" alt="" />
        <div class="overlay">
          <h2>Residencial Nicosia</h2>
          <a class="info" href="#">Proyecto</a>
        </div>
      </div>
    </div>
    <div class="card2">
      <div class="hovereffect">
        <img class="img-responsive" src="./assets/nicosia/cam1.jpg" alt="" />
        <div class="overlay">
          <h2>Residencial Nicosia</h2>
          <a class="info" href="#">Proyecto</a>
        </div>
      </div>
    </div>
  </div>

  <div class="return">
    <img src="./assets/flecha-izquierda.png" />
    <a routerLink="">Inicio</a>
  </div>
</body>
