/* body {
  align-items: center;
  background-color: var(--bg);
  color: rgb(224, 13, 13);
  display: flex;
  font-size: 10px;
  font-family: var(--font);
  height: calc(100vh - 100px);
  justify-content: center;
} */

/* .underline {
  color: var(--blue-dark);
  font-size: 1.5rem;
  display: inline-block;
  position: relative;
}

.underline:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: rgb(9, 78, 146);
  /*animacion de derecha a izquierda*/
/* transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.underline:hover:after {
  transform-origin: left;
  transform: scaleX(1);
} */
