<h2>Residencial Nicosia, Madrid</h2>
<div class="proyecto-container">
  <div class="descripcion-container">
    <img src="../../../../assets/nicosia/cam2.jpg" alt="fachada posterior" />

    <ul>
      <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt
        et risus sit amet convallis. <br />
        venenatis vestibulum velit id pretium. Proin tellus nulla, sodales a
        tempor id, vulputate eleifend risus.<br />
        cursus dui at magna lacinia, in consectetur dui lobortis.<br />
        venenatis vestibulum velit id pretium. Proin tellus nulla, sodales a
        tempor id, vulputate eleifend risus.
      </li>
      <li><b>Ubicación:</b> Aravaca, Madrid</li>
      <li><b>Fecha de ejecución:</b> 2022</li>
      <li><b>Metros construidos:</b> 1.200 m2</li>
    </ul>
  </div>
  <div class="imagenes-container">
    <img src="../../../../assets/nicosia/cam2.jpg" alt="" />
    <img src="../../../../assets/nicosia/cam4.jpg" alt="" />
    <img src="../../../../assets/nicosia/cam5.jpg" alt="" />
    <img src="../../../../assets/nicosia/cam6.jpg" alt="" />
    <img src="../../../../assets/nicosia/cam7.jpg" alt="" />
    <img src="../../../../assets/nicosia/cam8_10.jpg" alt="" />
    <img src="../../../../assets/nicosia/cam9.jpg" alt="" />
    <img src="../../../../assets/nicosia/cam10.jpg" alt="" />
    <img src="../../../../assets/nicosia/cam1.jpg" alt="" />
  </div>
</div>
